.register-page{
    margin-top: 50px;
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.register-page h4{
    color: #CF2A27;
    font-size: 19px;
}


.register-form{
    margin: 4rem auto;
    width: 50%;
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: -1px 4px 15px 1px rgb(0 0 0 / 20%);
}

.register-form-item{
    margin: 20px auto;
    display:flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
}

input, button{
    padding: 10px;
}

.register-page button{
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #CF2A27;
    color: #FFF;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .register-form{
        width: 70%;
    }
    .register-form-item{
        width: 70%;
    }
}


@media screen and (max-width: 600px) {
    .register-form{
        width: 90%;
    }

    .register-form-item{
        width: 90%;
    }
}
@media screen and (max-width: 178px){
    .register-page{
        margin-top: 100px;
    }
}

