.booking-page-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.booking-trip-details {
    margin: auto;
}

.booking-trip-details p {
    margin: 0;
    padding: 10px 0;
}

.trip-details h4 {
    margin-bottom: 5px;
}

.booking-page-container form {
    padding: 2%;
    width: 25%;
}


.booking-page-container button {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    background-color: #CF2A27;
    color: #FFF;
    font-weight: 700;
}

.booking-page-container span {
    font-style: italic;
}

.booking-page-container input {

    width: 100%;
    padding: 5px;
}

.booking-form-element {
    margin: 10px 0;
}

@media screen and (max-width: 1000px) {
    .booking-page-container form {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {
    .booking-page-container form {
        width: 90%;
    }
}

@media screen and (max-width: 178px) {
    .booking-page-container form {
        width: 100%;
    }
}