footer{
    background-color: #000;
    height: 200px;
    position: relative;
    margin-top: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    text-emphasis: none;
}

footer a{
    color: #FFF;
}

.footer-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footer-items li{
    margin: 10px;
}

footer .credit{
    color: #FFF;
    position: absolute;
    background-color: #000;
    bottom: 0;
    right: 0;
    padding: 10px;
}